<strong>Hey {{ name }}, we heard you forgot your password. To create a new one just click the link bellow.</strong>
<br>
<a href="{{ link }}">Click Here!</a>

<p>Wait, it wasn't you who requested a password change? Maybe you should change it anyway, someone knows your e-mail.</p>

